/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    color: #333;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111;
    color: white;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #f39c12;
}

/* Sections */
section {
    padding: 60px 10%;
    text-align: center;
}

/* Home */
.home {
    background: white;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #f39c12;
}

/* Card Style Sections */
.card {
    background: white;
    margin: 40px 10%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Headings */
h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #f39c12, #ffecb3, #f39c12);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

h2 {
    margin-bottom: 20px;
    color: #f39c12;
}

/* Paragraph */
p {
    line-height: 1.7;
    font-size: 1rem;
}

/* Projects */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    section {
        padding: 40px 5%;
    }
}
